/* App-wide styling */
body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'monospace';
    margin: 20px;
}

img {
  max-width: 90%; /* Prevents the image from exceeding its container's width */
  height: auto;    /* Maintains the image's aspect ratio */
}

#terminal {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.command > div {
  margin-bottom: 10px;
}

.command {
    font-size: x-large;
}

.response {
    padding-bottom: 10px;
}

.hard_skill_spaces {
  color: white;
  background-color: white;
  display: inline;
}

.hard_skill_name {
  font-weight: bold;
  display: inline-block;
  width: 70px;
}

#links {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 6px;
    right: 10px;
}

#header {
    max-width: 1200px;
}



